.swiper-pagination {
  position: initial !important;
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center !important;
  font-size: 12px !important;
  color: black !important;
  opacity: 1 !important;
  background: rgba(255, 255, 255, 0.5) !important;
}

.swiper-pagination-bullet-active {
  color: white !important;
  background: black !important;
}

.swiper {
  padding: 1rem 0rem !important;
}

@media only screen and (max-width: 599px) {
  .swiper-slide-active {
    width: 80vw !important;
    padding-left: 7vw !important;
    margin: 0px !important;
  }
}
