.swiper-pagination {
  position: initial !important;
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center !important;
  font-size: 12px !important;
  color: white !important;
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.5) !important;
}

.swiper-pagination-bullet-active {
  color: white !important;
  background: #9c27b0 !important;
}

@media only screen and (max-width: 599px) {
  .swiper-slide-active {
    width: 80% !important;
    margin-left: -15% !important;
  }

  .swiper-slide-active .swiper-slide-shadow-left,
  .swiper-slide-active .swiper-slide-shadow-right {
    background-image: inherit !important;
  }
}
